#ignora directorios
build/
CMakeFiles/
_CPack_Packages/
msvc/
nbproject/
codeblocks/
codelite/
mingw/
visualstudio/
Testing/
test/
.vargrant/
.codelite/
.clang/

#ignora archivo objeto
*.o
*.a
*.so
*.gch
*.gcov
*.deb
*.exe
*.msi
Makefile
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
install_manifest.txt
prueba.txt
history.txt
.history
.lat_historial
.DS_Store
compile_commands.json
compiling_error.txt
<scratch>
src/latino
src/liblatino.so